/* ===== RESET ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p,
blockquote {
  margin-block-end: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: hsl(210, 46%, 95%);
  font-family: manrope;
}

h1,
h2 {
  line-height: 1.1;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* ===== BASE STYLES ===== */

main {
  margin-top: 5rem;
  margin-bottom: 20rem;
}

.imgWrap {
  height: 245px;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}

.drawersImg {
  width: 100%;
  transform: translateY(-20px);
}

.prevCard {
  max-width: 400px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.text-and-footers {
  display: flex;
  flex-direction: column;
}

.textContent {
  background-color: white;
  padding: 2.2rem;
  text-align: left;
}

h1 {
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
  line-height: 30px;
  color: hsl(217, 19%, 35%);
}

.cardPara {
  font-size: 1rem;
  line-height: 25px;
  color: hsl(214, 17%, 51%);
}

/* ===== CARD FOOTERS ===== */

.cardFooter {
  padding: 0.6rem 3rem;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  margin-bottom: 1.3rem;
}

.avatarImg {
  border-radius: 50%;
}

.author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: translateX(-10px);
}

.namedate {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.name {
  color: hsl(217, 19%, 35%);
  font-weight: 600;
}

.date {
  color: hsl(214, 17%, 51%);
}

.shareBtn {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(211, 33%, 88%);
  border-radius: 50%;
  margin-left: auto;
  transform: translateX(7px);
}

.shareBtn:hover {
  cursor: pointer;
  background-color: hsl(212, 23%, 69%);
  fill: white;
}

.shareBtn:hover path {
  fill: white;
}

.footerSocials {
  background-color: hsl(217, 19%, 35%);
  padding: 0.3rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0 0 15px 15px;
}

.shareSocials {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 2rem;
  gap: 1.5rem;
}

.share {
  color: hsl(212, 23%, 69%);
  letter-spacing: 4px;
  font-size: 1rem;
  font-weight: 500;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
}

.facebook:hover,
.twitter:hover,
.pinterest:hover {
  cursor: pointer;
}

.shareBtnActive {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #6d7f97;
  margin-left: auto;
  margin-right: 1.4rem;
}

.arrowActive {
  fill: white;
}

.triangle {
  display: none;
}

.hidden-mobile-only {
  display: none;
}

/* ===== DESKTOP LAYOUT ===== */

@media (min-width: 875px) {
  main {
    margin-top: 15rem;
  }

  .imgWrap {
    display: flex;
    flex: 0 0 390px;
    height: auto;
    position: relative;
    overflow: hidden;
    align-self: stretch;
    border-radius: 15px 0px 0px 15px;
  }

  .drawersImg {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: 0% 50%;
    display: block;
    transform: translateY(0);
  }

  .prevCard {
    max-width: 788px;
    max-height: 400px;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    border-radius: 15px 15px 15px 15px;
    position: relative;
  }

  .text-and-footers {
    flex: 1;
    border-radius: 0px 15px 15px 15px;
  }

  .textContent {
    background-color: white;
    padding: 2rem;
    text-align: left;
    border-radius: 0 15px;
  }

  .author {
    transform: translateX(-15px);
  }

  .footerSocials {
    background-color: #48556a;
    padding: 0;
    max-width: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 15px 15px 15px 15px;
    position: absolute;
    bottom: 31%;
    right: -10%;
    transform: translateX(-1px);
    filter: drop-shadow(15px 15px 10px gray);
  }

  .shareSocials {
    position: relative;
    left: -5px;
  }

  .share {
    transform: translateX(10px);
    font-size: 1rem;
  }

  .socials {
    transform: translateX(40px);
    gap: 1.3rem;
  }

  .shareBtn:hover {
    transition: transform 0.2s;
  }

  .facebook:hover,
  .twitter:hover,
  .pinterest:hover {
    transform: scale(1.3);
    transition: transform 0.2s;
  }

  .triangle {
    display: block;
    transform: translate(-115px, 55px);
  }

  .shareBtn:active {
    background-color: #6d7f97;
  }

  .shareBtnActive {
    display: none;
  }

  .hidden-mobile-only {
    display: flex;
  }
}

.hidden {
  display: none;
}
